.left-section {
  float: left;
  display: flex;
}

.user-links {

}

.greeting-wish {
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.link-name {
  color: #9b9dad;
  cursor: pointer;
}

.link-name:hover {
  color: white;
}

.image {
  background-color: red;
  width: 3rem;
  margin-right: 1rem;
  cursor: pointer;
}